body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #0000000;
	background-color : white;
	background-image: url("images/pinkfade.jpg");
    background-repeat: repeat-x;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#CD4545; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}
